
/backend/.env

node_modules
 # Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Environment files
.env
.env.*.local

# React
/client/node_modules/
/client/build/

# Express
/server/node_modules/
/server/dump/

# OS & Editors
.DS_Store
.vscode/
.idea/
*.swp
